@import "tailwindcss";

@theme {
  /* Backgrounds */
  --color-background: var(--background);
  --color-surface: var(--surface);

  /* Text */
  --color-foreground: var(--font-primary);
  --color-muted: var(--font-secondary);

  /* UI */
  --color-border: var(--border);
  --color-accent: #2f6fed;
  --color-accent-hover: #4b78ff;
  --color-highlight: #7297e9;

  /* Fonts */
  --font-sans: Inter, sans-serif;
  --font-heading: Poppins, sans-serif;
}

:root {
  --background: #0a0a0a;
  --surface: #141414;

  --font-primary: #ededed;
  --font-secondary: #a1a1a1;

  --border: #222222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --surface: #141414;

    --font-primary: #ededed;
    --font-secondary: #a1a1a1;

    --border: #222222;
  }
}

body {
  background: theme(--color-background);
  color: theme(--color-foreground);
  font-family: theme(--font-sans);
  scroll-behavior: smooth;
}

/*
Background:        #0A0A0A
Surface:           #141414
Text Primary:      #EDEDED
Text Secondary:    #A1A1A1
Borders:           #222222
Accent Blue:       #2F6FED
Accent Hover:      #4B78FF 
*/
